body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #d6ccff, #f3e8ff);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}


.title {
    text-align: center;
    color: #5b3cc4;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}


.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.btn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: linear-gradient(90deg, #7b5cff, #a78bfa);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #7b5cff;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}